<p id="notice"><%= notice %></p>

<p>
  <strong>Securityid:</strong>
  <%= @order_book.SecurityID %>
</p>

<p>
  <strong>Total bids:</strong>
  <%= @order_book.TOTAL_BIDS %>
</p>

<p>
  <strong>Total asks:</strong>
  <%= @order_book.TOTAL_ASKS %>
</p>

<p>
  <strong>Bid1 price:</strong>
  <%= @order_book.BID1_PRICE %>
</p>

<p>
  <strong>Bid2 price:</strong>
  <%= @order_book.BID2_PRICE %>
</p>

<p>
  <strong>Bid3 price:</strong>
  <%= @order_book.BID3_PRICE %>
</p>

<p>
  <strong>Bid4 price:</strong>
  <%= @order_book.BID4_PRICE %>
</p>

<p>
  <strong>Bid5 price:</strong>
  <%= @order_book.BID5_PRICE %>
</p>

<p>
  <strong>Bid1 qty:</strong>
  <%= @order_book.BID1_QTY %>
</p>

<p>
  <strong>Bid2 qty:</strong>
  <%= @order_book.BID2_QTY %>
</p>

<p>
  <strong>Bid3 qty:</strong>
  <%= @order_book.BID3_QTY %>
</p>

<p>
  <strong>Bid4 qty:</strong>
  <%= @order_book.BID4_QTY %>
</p>

<p>
  <strong>Bid5 qty:</strong>
  <%= @order_book.BID5_QTY %>
</p>

<p>
  <strong>Bid1 splits:</strong>
  <%= @order_book.BID1_SPLITS %>
</p>

<p>
  <strong>Bid2 splits:</strong>
  <%= @order_book.BID2_SPLITS %>
</p>

<p>
  <strong>Bid3 splits:</strong>
  <%= @order_book.BID3_SPLITS %>
</p>

<p>
  <strong>Bid4 splits:</strong>
  <%= @order_book.BID4_SPLITS %>
</p>

<p>
  <strong>Bid5 splits:</strong>
  <%= @order_book.BID5_SPLITS %>
</p>

<p>
  <strong>Ask1 price:</strong>
  <%= @order_book.ASK1_PRICE %>
</p>

<p>
  <strong>Ask2 price:</strong>
  <%= @order_book.ASK2_PRICE %>
</p>

<p>
  <strong>Ask3 price:</strong>
  <%= @order_book.ASK3_PRICE %>
</p>

<p>
  <strong>Ask4 price:</strong>
  <%= @order_book.ASK4_PRICE %>
</p>

<p>
  <strong>Ask5 price:</strong>
  <%= @order_book.ASK5_PRICE %>
</p>

<p>
  <strong>Ask1 qty:</strong>
  <%= @order_book.ASK1_QTY %>
</p>

<p>
  <strong>Ask2 qty:</strong>
  <%= @order_book.ASK2_QTY %>
</p>

<p>
  <strong>Ask3 qty:</strong>
  <%= @order_book.ASK3_QTY %>
</p>

<p>
  <strong>Ask4 qty:</strong>
  <%= @order_book.ASK4_QTY %>
</p>

<p>
  <strong>Ask5 qty:</strong>
  <%= @order_book.ASK5_QTY %>
</p>

<p>
  <strong>Ask1 splits:</strong>
  <%= @order_book.ASK1_SPLITS %>
</p>

<p>
  <strong>Ask2 splits:</strong>
  <%= @order_book.ASK2_SPLITS %>
</p>

<p>
  <strong>Ask3 splits:</strong>
  <%= @order_book.ASK3_SPLITS %>
</p>

<p>
  <strong>Ask4 splits:</strong>
  <%= @order_book.ASK4_SPLITS %>
</p>

<p>
  <strong>Ask5 splits:</strong>
  <%= @order_book.ASK5_SPLITS %>
</p>

<p>
  <strong>Price:</strong>
  <%= @order_book.Price %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @order_book.Quantity %>
</p>

<p>
  <strong>Mbo action:</strong>
  <%= @order_book.MBO_Action %>
</p>

<p>
  <strong>Buy sell:</strong>
  <%= @order_book.Buy_Sell %>
</p>

<p>
  <strong>Priority sequence:</strong>
  <%= @order_book.Priority_Sequence %>
</p>

<p>
  <strong>Sendingtime:</strong>
  <%= @order_book.SendingTime %>
</p>

<%= link_to 'Edit', edit_order_book_path(@order_book) %> |
<%= link_to 'Back', order_books_path %>
