<p id="notice"><%= notice %></p>

<p>
  <strong>Securityid:</strong>
  <%= @instrument.SecurityID %>
</p>

<p>
  <strong>Issuedate:</strong>
  <%= @instrument.IssueDate %>
</p>

<p>
  <strong>Isin:</strong>
  <%= @instrument.ISIN %>
</p>

<p>
  <strong>Quantity issued:</strong>
  <%= @instrument.QUANTITY_ISSUED %>
</p>

<p>
  <strong>Par value:</strong>
  <%= @instrument.PAR_VALUE %>
</p>

<p>
  <strong>Issued price:</strong>
  <%= @instrument.ISSUED_PRICE %>
</p>

<p>
  <strong>Last traded price:</strong>
  <%= @instrument.LAST_TRADED_PRICE %>
</p>

<p>
  <strong>Wtd hi price:</strong>
  <%= @instrument.WTD_HI_PRICE %>
</p>

<p>
  <strong>Mtd hi price:</strong>
  <%= @instrument.MTD_HI_PRICE %>
</p>

<p>
  <strong>Ytd hi price:</strong>
  <%= @instrument.YTD_HI_PRICE %>
</p>

<p>
  <strong>P12 hi price:</strong>
  <%= @instrument.P12_HI_PRICE %>
</p>

<p>
  <strong>All hi price:</strong>
  <%= @instrument.ALL_HI_PRICE %>
</p>

<p>
  <strong>All lo price:</strong>
  <%= @instrument.ALL_LO_PRICE %>
</p>

<p>
  <strong>Wtd lo price:</strong>
  <%= @instrument.WTD_LO_PRICE %>
</p>

<p>
  <strong>Mtd lo price:</strong>
  <%= @instrument.MTD_LO_PRICE %>
</p>

<p>
  <strong>Ytd lo price:</strong>
  <%= @instrument.YTD_LO_PRICE %>
</p>

<p>
  <strong>P12 lo price:</strong>
  <%= @instrument.P12_LO_PRICE %>
</p>

<p>
  <strong>Tdy share vol:</strong>
  <%= @instrument.TDY_SHARE_VOL %>
</p>

<p>
  <strong>Wtd share vol:</strong>
  <%= @instrument.WTD_SHARE_VOL %>
</p>

<p>
  <strong>Mtd share vol:</strong>
  <%= @instrument.MTD_SHARE_VOL %>
</p>

<p>
  <strong>Ytd share vol:</strong>
  <%= @instrument.YTD_SHARE_VOL %>
</p>

<p>
  <strong>P12 share vol:</strong>
  <%= @instrument.P12_SHARE_VOL %>
</p>

<p>
  <strong>Tdy trade vol:</strong>
  <%= @instrument.TDY_TRADE_VOL %>
</p>

<p>
  <strong>Wtd trade vol:</strong>
  <%= @instrument.WTD_TRADE_VOL %>
</p>

<p>
  <strong>Mtd trade vol:</strong>
  <%= @instrument.MTD_TRADE_VOL %>
</p>

<p>
  <strong>Ytd trade vol:</strong>
  <%= @instrument.YTD_TRADE_VOL %>
</p>

<p>
  <strong>P12 trade vol:</strong>
  <%= @instrument.P12_TRADE_VOL %>
</p>

<p>
  <strong>Tdy turnover:</strong>
  <%= @instrument.TDY_TURNOVER %>
</p>

<p>
  <strong>Wtd turnover:</strong>
  <%= @instrument.WTD_TURNOVER %>
</p>

<p>
  <strong>Mtd turnover:</strong>
  <%= @instrument.MTD_TURNOVER %>
</p>

<p>
  <strong>Ytd turnover:</strong>
  <%= @instrument.YTD_TURNOVER %>
</p>

<p>
  <strong>P12 turnover:</strong>
  <%= @instrument.P12_TURNOVER %>
</p>

<p>
  <strong>Previous close:</strong>
  <%= @instrument.PREVIOUS_CLOSE %>
</p>

<p>
  <strong>Foreign holdings:</strong>
  <%= @instrument.FOREIGN_HOLDINGS %>
</p>

<p>
  <strong>Xc:</strong>
  <%= @instrument.XC %>
</p>

<p>
  <strong>Xd:</strong>
  <%= @instrument.XD %>
</p>

<p>
  <strong>Xr:</strong>
  <%= @instrument.XR %>
</p>

<p>
  <strong>Foreign percentage:</strong>
  <%= @instrument.FOREIGN_PERCENTAGE %>
</p>

<p>
  <strong>Date:</strong>
  <%= @instrument.DATE %>
</p>

<p>
  <strong>Hi trade:</strong>
  <%= @instrument.HI_TRADE %>
</p>

<p>
  <strong>Lo trade:</strong>
  <%= @instrument.LO_TRADE %>
</p>

<p>
  <strong>Closing price:</strong>
  <%= @instrument.CLOSING_PRICE %>
</p>

<p>
  <strong>Sendingtime:</strong>
  <%= @instrument.SendingTime %>
</p>

<%= link_to 'Edit', edit_instrument_path(@instrument) %> |
<%= link_to 'Back', instruments_path %>
